https://rstudio-pubs-static.s3.amazonaws.com/706595_c99afdec3b1541ddadf7e1703ebeae82.html

https://www.kaggle.com/shashwatwork/dataco-smart-supply-chain-for-big-data-analysis?select=DescriptionDataCoSupplyChain.csv

https://es.fuelo.net/fuel/type/gasoline?lang=en  #gasolina españa precio diario

Firstly we need to import below libraries

In [60]:
import warnings
warnings.simplefilter('ignore')

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import pandas as pd
pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

In [61]:
Data=pd.read_csv('../DATA/DataCo/DataCoSupplyChainDataset.csv',encoding='latin-1')

In [62]:
Data.columns=[e.lower().replace(' ', '_').strip() for e in Data.columns]
Data.head(2)

,type,days_for_shipping_(real),days_for_shipment_(scheduled),benefit_per_order,sales_per_customer,delivery_status,late_delivery_risk,category_id,category_name,customer_city,customer_country,customer_email,customer_fname,customer_id,customer_lname,customer_password,customer_segment,customer_state,customer_street,customer_zipcode,department_id,department_name,latitude,longitude,market,order_city,order_country,order_customer_id,order_date_(dateorders),order_id,order_item_cardprod_id,order_item_discount,order_item_discount_rate,order_item_id,order_item_product_price,order_item_profit_ratio,order_item_quantity,sales,order_item_total,order_profit_per_order,order_region,order_state,order_status,order_zipcode,product_card_id,product_category_id,product_description,product_image,product_name,product_price,product_status,shipping_date_(dateorders),shipping_mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,XXXXXXXXX,Cally,20755,Holloway,XXXXXXXXX,Consumer,PR,5365 Noble Nectar Island,725.0,2,Fitness,18.251453,-66.037056,Pacific Asia,Bekasi,Indonesia,20755,1/31/2018 22:56,77202,1360,13.110000,0.04,180517,327.75,0.29,1,327.75,314.640015,91.250000,Southeast Asia,Java Occidental,COMPLETE,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,Puerto Rico,XXXXXXXXX,Irene,19492,Luna,XXXXXXXXX,Consumer,PR,2679 Rustic Loop,725.0,2,Fitness,18.279451,-66.037064,Pacific Asia,Bikaner,India,19492,1/13/2018 12:27,75939,1360,16.389999,0.05,179254,327.75,-0.80,1,327.75,311.359985,-249.089996,South Asia,Rajastán,PENDING,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class

In [63]:
def roundd(x):
    return round(x,2)

In [64]:
Data['benefit_per_order']=Data['benefit_per_order'].apply(roundd)
Data['sales_per_customer']=Data['sales_per_customer'].apply(roundd)
Data['order_item_discount']=Data['order_item_discount'].apply(roundd)
Data['order_item_discount_rate']=Data['order_item_discount_rate'].apply(roundd)
Data['order_item_product_price']=Data['order_item_product_price'].apply(roundd)
Data['order_item_profit_ratio']=Data['order_item_profit_ratio'].apply(roundd)
Data['sales']=Data['sales'].apply(roundd)
Data['order_item_total']=Data['order_item_total'].apply(roundd)
Data['order_profit_per_order']=Data['order_profit_per_order'].apply(roundd)
Data['product_price']=Data['product_price'].apply(roundd)

In [65]:
Data.shape

(180519, 53)

In [66]:
nan=Data.isnull().sum()
nan.sort_values(ascending=False)[:4]

product_description    180519
order_zipcode          155679
customer_lname              8
customer_zipcode            3
dtype: int64

In [67]:
Data.head(2)

,type,days_for_shipping_(real),days_for_shipment_(scheduled),benefit_per_order,sales_per_customer,delivery_status,late_delivery_risk,category_id,category_name,customer_city,customer_country,customer_email,customer_fname,customer_id,customer_lname,customer_password,customer_segment,customer_state,customer_street,customer_zipcode,department_id,department_name,latitude,longitude,market,order_city,order_country,order_customer_id,order_date_(dateorders),order_id,order_item_cardprod_id,order_item_discount,order_item_discount_rate,order_item_id,order_item_product_price,order_item_profit_ratio,order_item_quantity,sales,order_item_total,order_profit_per_order,order_region,order_state,order_status,order_zipcode,product_card_id,product_category_id,product_description,product_image,product_name,product_price,product_status,shipping_date_(dateorders),shipping_mode
0,DEBIT,3,4,91.25,314.64,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,XXXXXXXXX,Cally,20755,Holloway,XXXXXXXXX,Consumer,PR,5365 Noble Nectar Island,725.0,2,Fitness,18.251453,-66.037056,Pacific Asia,Bekasi,Indonesia,20755,1/31/2018 22:56,77202,1360,13.11,0.04,180517,327.75,0.29,1,327.75,314.64,91.25,Southeast Asia,Java Occidental,COMPLETE,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.09,311.36,Late delivery,1,73,Sporting Goods,Caguas,Puerto Rico,XXXXXXXXX,Irene,19492,Luna,XXXXXXXXX,Consumer,PR,2679 Rustic Loop,725.0,2,Fitness,18.279451,-66.037064,Pacific Asia,Bikaner,India,19492,1/13/2018 12:27,75939,1360,16.39,0.05,179254,327.75,-0.80,1,327.75,311.36,-249.09,South Asia,Rajastán,PENDING,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class

In [68]:
Data[['customer_zipcode']]=Data[['customer_zipcode']].fillna(value=0)

In [69]:
Data=Data.astype({'customer_zipcode':'int32'})

In [70]:
Data=Data.drop(columns=['customer_email','customer_fname','customer_lname','customer_password','order_zipcode',
                       'product_description','product_image','product_status'])

- **Type**: tipo de pago
- **Days_ship_real**: días reales que ha tardado el envío
- **Days_ship_sche**: días teóricos de envío 
- **Sales_per_customer**: Ventas totales por cliente realizadas por cliente
- **Late_delivery_risk**: envío llega tarde (1),no está tarde (0).
- **Customer_country**: : City where the customer made the purchase (Customer_state)--lugar de donde viene el pedido
- **Customer_segment**: Types of Customers: Consumer , Corporate , Home Office
- **Latitude**: Latitude corresponding to location of store (donde está la tienda que tiene el pedido)
- **Market**: Market to where the order is delivered : Africa , Europe , LATAM , Pacific Asia , USCA
- **Order Country**: Destination country of the order
- **Order date (DateOrders)**: Date on which the order is made
- **Order Customer Id**: Customer order code
- **order_id**: Order code
- **Order Item Cardprod Id**: Product code generated through the RFID reader
- **Order Item Discount**:Order item discount value
- **Order_item_discount_rate**: Order item discount percentage
- **Order Item Id**: Order item code
- **Order Item Product Price**: Price of products without discount
- **Order Item Profit Ratio**: Order Item Profit Ratio
- **Sales**: Value in sales
- **Order Item Total**: Total amount per order
- **Order Profit Per Order**: Order Profit Per Order
- **Order Region** : Region of the world where the order is delivered : Southeast Asia ,South Asia ,Oceania ,Eastern ...
- **Product Card Id**: Product code
- **Product Price**: Product Price
- **Product Status**: Status of the product stock :If it is 1 not available , 0 the product is available
- **Shipping date (DateOrders)**: Exact date and time of shipment

- **Days for shipping (real)**:Actual shipping days -- Días reales de envío del producto adquirido
- **Days for shipment (scheduled)**:Days of scheduled delivery--  Días de entrega programada del producto adquirido

In [71]:
column_names = [ 'type','customer_city','customer_country','customer_state','latitude', 'longitude','customer_street', 
 'customer_zipcode','customer_id','customer_segment','market', 'order_city','order_country', 'order_region','order_state',
 'order_customer_id','department_id','department_name','order_id','order_item_id','order_item_quantity','order_item_cardprod_id','order_item_discount',
 'order_item_discount_rate','order_item_product_price','order_item_profit_ratio','benefit_per_order','order_profit_per_order',
 'order_item_total','product_price','sales_per_customer','sales','category_id','category_name', 
 'product_card_id','product_category_id','product_name', 'order_status','order_date_(dateorders)',
 'shipping_date_(dateorders)','shipping_mode','days_for_shipping_(real)','days_for_shipment_(scheduled)','delivery_status',
 'late_delivery_risk']
df1 = Data.reindex(columns=column_names)

In [72]:
df1.head()

,type,customer_city,customer_country,customer_state,latitude,longitude,customer_street,customer_zipcode,customer_id,customer_segment,market,order_city,order_country,order_region,order_state,order_customer_id,department_id,department_name,order_id,order_item_id,order_item_quantity,order_item_cardprod_id,order_item_discount,order_item_discount_rate,order_item_product_price,order_item_profit_ratio,benefit_per_order,order_profit_per_order,order_item_total,product_price,sales_per_customer,sales,category_id,category_name,product_card_id,product_category_id,product_name,order_status,order_date_(dateorders),shipping_date_(dateorders),shipping_mode,days_for_shipping_(real),days_for_shipment_(scheduled),delivery_status,late_delivery_risk
0,DEBIT,Caguas,Puerto Rico,PR,18.251453,-66.037056,5365 Noble Nectar Island,725,20755,Consumer,Pacific Asia,Bekasi,Indonesia,Southeast Asia,Java Occidental,20755,2,Fitness,77202,180517,1,1360,13.11,0.04,327.75,0.29,91.25,91.25,314.64,327.75,314.64,327.75,73,Sporting Goods,1360,73,Smart watch,COMPLETE,1/31/2018 22:56,2/3/2018 22:56,Standard Class,3,4,Advance shipping,0
1,TRANSFER,Caguas,Puerto Rico,PR,18.279451,-66.037064,2679 Rustic Loop,725,19492,Consumer,Pacific Asia,Bikaner,India,South Asia,Rajastán,19492,2,Fitness,75939,179254,1,1360,16.39,0.05,327.75,-0.80,-249.09,-249.09,311.36,327.75,311.36,327.75,73,Sporting Goods,1360,73,Smart watch,PENDING,1/13/2018 12:27,1/18/2018 12:27,Standard Class,5,4,Late delivery,1
2,CASH,San Jose,EE. UU.,CA,37.292233,-121.881279,8510 Round Bear Gate,95125,19491,Consumer,Pacific Asia,Bikaner,India,South Asia,Rajastán,19491,2,Fitness,75938,179253,1,1360,18.03,0.06,327.75,-0.80,-247.78,-247.78,309.72,327.75,309.72,327.75,73,Sporting Goods,1360,73,Smart watch,CLOSED,1/13/2018 12:06,1/17/2018 12:06,Standard Class,4,4,Shipping on time,0
3,DEBIT,Los Angeles,EE. UU.,CA,34.125946,-118.291016,3200 Amber Bend,90027,19490,Home Office,Pacific Asia,Townsville,Australia,Oceania,Queensland,19490,2,Fitness,75937,179252,1,1360,22.94,0.07,327.75,0.08,22.86,22.86,304.81,327.75,304.81,327.75,73,Sporting Goods,1360,73,Smart watch,COMPLETE,1/13/2018 11:45,1/16/2018 11:45,Standard Class,3,4,Advance shipping,0
4,PAYMENT,Caguas,Puerto Rico,PR,18.253769,-66.037048,8671 Iron Anchor Corners,725,19489,Corporate,Pacific Asia,Townsville,Australia,Oceania,Queensland,19489,2,Fitness,75936,179251,1,1360,29.50,0.09,327.75,0.45,134.21,134.21,298.25,327.75,298.25,327.75,73,Sporting Goods,1360,73,Smart watch,PENDING_PAYMENT,1/13/2018 11:24,1/15/2018 11:24,Standard Class,2,4,Advance shipping,0

In [73]:
# df.customer_city.unique() CA--California city condado de Kern

In [74]:
df1.loc[df1['customer_state'] == '95758']

,type,customer_city,customer_country,customer_state,latitude,longitude,customer_street,customer_zipcode,customer_id,customer_segment,market,order_city,order_country,order_region,order_state,order_customer_id,department_id,department_name,order_id,order_item_id,order_item_quantity,order_item_cardprod_id,order_item_discount,order_item_discount_rate,order_item_product_price,order_item_profit_ratio,benefit_per_order,order_profit_per_order,order_item_total,product_price,sales_per_customer,sales,category_id,category_name,product_card_id,product_category_id,product_name,order_status,order_date_(dateorders),shipping_date_(dateorders),shipping_mode,days_for_shipping_(real),days_for_shipment_(scheduled),delivery_status,late_delivery_risk
35704,DEBIT,CA,EE. UU.,95758,39.134159,-123.718552,Elk Grove,0,14577,Consumer,Europe,Valence,Francia,Western Europe,Auvernia-Ródano-Alpes,14577,10,Technology,71024,174339,1,1352,63.22,0.25,252.88,0.35,66.38,66.38,189.66,252.88,189.66,252.88,65,Consumer Electronics,1352,65,Industrial consumer electronics,COMPLETE,11/2/2017 18:31,11/4/2017 18:31,First Class,2,1,Late delivery,1
46440,PAYMENT,CA,EE. UU.,95758,38.408573,-121.449112,Elk Grove,0,17171,Corporate,Pacific Asia,Manila,Filipinas,Southeast Asia,Capital Nacional,17171,9,Discs Shop,73618,176933,1,1362,0.80,0.02,39.75,0.28,10.91,10.91,38.96,39.75,38.96,39.75,75,Video Games,1362,75,Fighting video games,PENDING_PAYMENT,12/10/2017 15:18,12/14/2017 15:18,Standard Class,4,4,Shipping on time,0

In [75]:
df1.loc[df1['customer_state'] == '91732']

,type,customer_city,customer_country,customer_state,latitude,longitude,customer_street,customer_zipcode,customer_id,customer_segment,market,order_city,order_country,order_region,order_state,order_customer_id,department_id,department_name,order_id,order_item_id,order_item_quantity,order_item_cardprod_id,order_item_discount,order_item_discount_rate,order_item_product_price,order_item_profit_ratio,benefit_per_order,order_profit_per_order,order_item_total,product_price,sales_per_customer,sales,category_id,category_name,product_card_id,product_category_id,product_name,order_status,order_date_(dateorders),shipping_date_(dateorders),shipping_mode,days_for_shipping_(real),days_for_shipment_(scheduled),delivery_status,late_delivery_risk
82511,DEBIT,CA,EE. UU.,91732,34.071892,-118.013886,El Monte,0,14046,Consumer,Europe,Sheffield,Reino Unido,Northern Europe,Inglaterra,14046,4,Apparel,70493,173808,1,1350,57.14,0.16,357.1,0.2,59.99,59.99,299.96,357.1,299.96,357.1,63,Children's Clothing,1350,63,Children's heaters,COMPLETE,10/26/2017 0:29,10/30/2017 0:29,Standard Class,4,4,Shipping on time,0

In [76]:
df1['customer_state']=[i.replace(i,'CA') if i=='91732' or i=='95758' else i for i in df1['customer_state']]

In [77]:
df1.rename(columns = {'type':'transaction_type','customer_city':'store_city','customer_country':'store_country',
                     'customer_state':'store_state','latitude':'latitude_store','longitude':'longitude_store',
                     'customer_street':'store_street','customer_zipcode':'store_zipcode','market':'customer_market',
                     'order_city':'customer_city','order_country':'customer_country','order_item_cardprod_id':'rfid_order_id',
                     'sales_per_customer':'total_sales_per_customer','product_card_id':'product_id',
                     'order_date_(dateorders)':'order_date','shipping_date_(dateorders)':'shipping_date',
    'days_for_shipping_(real)':'real_shipping_days','days_for_shipment_(scheduled)':'scheduled_shipping_days',
                    'order_region':'customer_region','order_region':'customer_region',
                    'order_item_discount':'item_discount','order_item_discount_rate':'item_discount_rate',
                    'order_item_id':'item_id','order_item_profit_ratio':'item_profit_ratio',
                    'order_item_quantity':'item_quantity','total_sales_per_customer':'sales_after_discount'}, inplace = True)

In [78]:
df1.late_delivery_risk.value_counts()

1    98977
0    81542
Name: late_delivery_risk, dtype: int64

In [79]:
df1['order_date']=pd.to_datetime(df1['order_date'])      #convertimos a formato datetime para sacar año y mes
df1['shipping_date']=pd.to_datetime(df1['shipping_date'])

In [80]:
df1['order_year'] = df1['order_date'].dt.year
df1['order_month'] = df1['order_date'].dt.month

In [81]:
df1.head(5)

,transaction_type,store_city,store_country,store_state,latitude_store,longitude_store,store_street,store_zipcode,customer_id,customer_segment,customer_market,customer_city,customer_country,customer_region,order_state,order_customer_id,department_id,department_name,order_id,item_id,item_quantity,rfid_order_id,item_discount,item_discount_rate,order_item_product_price,item_profit_ratio,benefit_per_order,order_profit_per_order,order_item_total,product_price,total_sales_per_customer,sales,category_id,category_name,product_id,product_category_id,product_name,order_status,order_date,shipping_date,shipping_mode,real_shipping_days,scheduled_shipping_days,delivery_status,late_delivery_risk,order_year,order_month
0,DEBIT,Caguas,Puerto Rico,PR,18.251453,-66.037056,5365 Noble Nectar Island,725,20755,Consumer,Pacific Asia,Bekasi,Indonesia,Southeast Asia,Java Occidental,20755,2,Fitness,77202,180517,1,1360,13.11,0.04,327.75,0.29,91.25,91.25,314.64,327.75,314.64,327.75,73,Sporting Goods,1360,73,Smart watch,COMPLETE,2018-01-31 22:56:00,2018-02-03 22:56:00,Standard Class,3,4,Advance shipping,0,2018,1
1,TRANSFER,Caguas,Puerto Rico,PR,18.279451,-66.037064,2679 Rustic Loop,725,19492,Consumer,Pacific Asia,Bikaner,India,South Asia,Rajastán,19492,2,Fitness,75939,179254,1,1360,16.39,0.05,327.75,-0.80,-249.09,-249.09,311.36,327.75,311.36,327.75,73,Sporting Goods,1360,73,Smart watch,PENDING,2018-01-13 12:27:00,2018-01-18 12:27:00,Standard Class,5,4,Late delivery,1,2018,1
2,CASH,San Jose,EE. UU.,CA,37.292233,-121.881279,8510 Round Bear Gate,95125,19491,Consumer,Pacific Asia,Bikaner,India,South Asia,Rajastán,19491,2,Fitness,75938,179253,1,1360,18.03,0.06,327.75,-0.80,-247.78,-247.78,309.72,327.75,309.72,327.75,73,Sporting Goods,1360,73,Smart watch,CLOSED,2018-01-13 12:06:00,2018-01-17 12:06:00,Standard Class,4,4,Shipping on time,0,2018,1
3,DEBIT,Los Angeles,EE. UU.,CA,34.125946,-118.291016,3200 Amber Bend,90027,19490,Home Office,Pacific Asia,Townsville,Australia,Oceania,Queensland,19490,2,Fitness,75937,179252,1,1360,22.94,0.07,327.75,0.08,22.86,22.86,304.81,327.75,304.81,327.75,73,Sporting Goods,1360,73,Smart watch,COMPLETE,2018-01-13 11:45:00,2018-01-16 11:45:00,Standard Class,3,4,Advance shipping,0,2018,1
4,PAYMENT,Caguas,Puerto Rico,PR,18.253769,-66.037048,8671 Iron Anchor Corners,725,19489,Corporate,Pacific Asia,Townsville,Australia,Oceania,Queensland,19489,2,Fitness,75936,179251,1,1360,29.50,0.09,327.75,0.45,134.21,134.21,298.25,327.75,298.25,327.75,73,Sporting Goods,1360,73,Smart watch,PENDING_PAYMENT,2018-01-13 11:24:00,2018-01-15 11:24:00,Standard Class,2,4,Advance shipping,0,2018,1

In [82]:
df=df1.copy()

sum((df.month_orderdate == df.month_shippingdate) == False)==20957

sum((df.year_orderdate == df.year_shippingdate) == False)==1490

In [83]:
df['order_date']=df['order_date'].apply(lambda x: pd.to_datetime(x).strftime('%d/%m/%Y'))
df['shipping_date']=df['shipping_date'].apply(lambda x: pd.to_datetime(x).strftime('%d/%m/%Y'))

In [84]:
df.head(5)

,transaction_type,store_city,store_country,store_state,latitude_store,longitude_store,store_street,store_zipcode,customer_id,customer_segment,customer_market,customer_city,customer_country,customer_region,order_state,order_customer_id,department_id,department_name,order_id,item_id,item_quantity,rfid_order_id,item_discount,item_discount_rate,order_item_product_price,item_profit_ratio,benefit_per_order,order_profit_per_order,order_item_total,product_price,total_sales_per_customer,sales,category_id,category_name,product_id,product_category_id,product_name,order_status,order_date,shipping_date,shipping_mode,real_shipping_days,scheduled_shipping_days,delivery_status,late_delivery_risk,order_year,order_month
0,DEBIT,Caguas,Puerto Rico,PR,18.251453,-66.037056,5365 Noble Nectar Island,725,20755,Consumer,Pacific Asia,Bekasi,Indonesia,Southeast Asia,Java Occidental,20755,2,Fitness,77202,180517,1,1360,13.11,0.04,327.75,0.29,91.25,91.25,314.64,327.75,314.64,327.75,73,Sporting Goods,1360,73,Smart watch,COMPLETE,31/01/2018,03/02/2018,Standard Class,3,4,Advance shipping,0,2018,1
1,TRANSFER,Caguas,Puerto Rico,PR,18.279451,-66.037064,2679 Rustic Loop,725,19492,Consumer,Pacific Asia,Bikaner,India,South Asia,Rajastán,19492,2,Fitness,75939,179254,1,1360,16.39,0.05,327.75,-0.80,-249.09,-249.09,311.36,327.75,311.36,327.75,73,Sporting Goods,1360,73,Smart watch,PENDING,13/01/2018,18/01/2018,Standard Class,5,4,Late delivery,1,2018,1
2,CASH,San Jose,EE. UU.,CA,37.292233,-121.881279,8510 Round Bear Gate,95125,19491,Consumer,Pacific Asia,Bikaner,India,South Asia,Rajastán,19491,2,Fitness,75938,179253,1,1360,18.03,0.06,327.75,-0.80,-247.78,-247.78,309.72,327.75,309.72,327.75,73,Sporting Goods,1360,73,Smart watch,CLOSED,13/01/2018,17/01/2018,Standard Class,4,4,Shipping on time,0,2018,1
3,DEBIT,Los Angeles,EE. UU.,CA,34.125946,-118.291016,3200 Amber Bend,90027,19490,Home Office,Pacific Asia,Townsville,Australia,Oceania,Queensland,19490,2,Fitness,75937,179252,1,1360,22.94,0.07,327.75,0.08,22.86,22.86,304.81,327.75,304.81,327.75,73,Sporting Goods,1360,73,Smart watch,COMPLETE,13/01/2018,16/01/2018,Standard Class,3,4,Advance shipping,0,2018,1
4,PAYMENT,Caguas,Puerto Rico,PR,18.253769,-66.037048,8671 Iron Anchor Corners,725,19489,Corporate,Pacific Asia,Townsville,Australia,Oceania,Queensland,19489,2,Fitness,75936,179251,1,1360,29.50,0.09,327.75,0.45,134.21,134.21,298.25,327.75,298.25,327.75,73,Sporting Goods,1360,73,Smart watch,PENDING_PAYMENT,13/01/2018,15/01/2018,Standard Class,2,4,Advance shipping,0,2018,1

In [85]:
#sum((df.order_item_total == df.total_sales_per_customer) == False)==0  #borramos la columna al ser igual que la otra

In [86]:
#sum((df.order_profit_per_order == df.benefit_per_order) == False)==0   #borramos la columna al ser igual que la otra

In [87]:
#sum((df.order_item_product_price == df.product_price) == False)==0     #borramos la columna al ser igual que la otra

In [88]:
df=df.drop(columns=['order_state','customer_market','order_item_total','order_profit_per_order',
                   'order_item_product_price','store_street','store_zipcode','rfid_order_id',
                   'department_id','category_id','product_category_id','order_customer_id','product_id'])

In [89]:
df.head()

,transaction_type,store_city,store_country,store_state,latitude_store,longitude_store,customer_id,customer_segment,customer_city,customer_country,customer_region,department_name,order_id,item_id,item_quantity,item_discount,item_discount_rate,item_profit_ratio,benefit_per_order,product_price,total_sales_per_customer,sales,category_name,product_name,order_status,order_date,shipping_date,shipping_mode,real_shipping_days,scheduled_shipping_days,delivery_status,late_delivery_risk,order_year,order_month
0,DEBIT,Caguas,Puerto Rico,PR,18.251453,-66.037056,20755,Consumer,Bekasi,Indonesia,Southeast Asia,Fitness,77202,180517,1,13.11,0.04,0.29,91.25,327.75,314.64,327.75,Sporting Goods,Smart watch,COMPLETE,31/01/2018,03/02/2018,Standard Class,3,4,Advance shipping,0,2018,1
1,TRANSFER,Caguas,Puerto Rico,PR,18.279451,-66.037064,19492,Consumer,Bikaner,India,South Asia,Fitness,75939,179254,1,16.39,0.05,-0.80,-249.09,327.75,311.36,327.75,Sporting Goods,Smart watch,PENDING,13/01/2018,18/01/2018,Standard Class,5,4,Late delivery,1,2018,1
2,CASH,San Jose,EE. UU.,CA,37.292233,-121.881279,19491,Consumer,Bikaner,India,South Asia,Fitness,75938,179253,1,18.03,0.06,-0.80,-247.78,327.75,309.72,327.75,Sporting Goods,Smart watch,CLOSED,13/01/2018,17/01/2018,Standard Class,4,4,Shipping on time,0,2018,1
3,DEBIT,Los Angeles,EE. UU.,CA,34.125946,-118.291016,19490,Home Office,Townsville,Australia,Oceania,Fitness,75937,179252,1,22.94,0.07,0.08,22.86,327.75,304.81,327.75,Sporting Goods,Smart watch,COMPLETE,13/01/2018,16/01/2018,Standard Class,3,4,Advance shipping,0,2018,1
4,PAYMENT,Caguas,Puerto Rico,PR,18.253769,-66.037048,19489,Corporate,Townsville,Australia,Oceania,Fitness,75936,179251,1,29.50,0.09,0.45,134.21,327.75,298.25,327.75,Sporting Goods,Smart watch,PENDING_PAYMENT,13/01/2018,15/01/2018,Standard Class,2,4,Advance shipping,0,2018,1

In [90]:
def country(x): 
    if x=='Japón':
        return 'Japan'
    elif x=='Corea del Sur':
        return 'South Korea'
    elif x=='Turquía':
        return 'Turkey'
    elif x=='Estados Unidos':
        return 'USA'
    elif x=='República Democrática del Congo':
        return 'Congo'
    elif x=='República del Congo':
        return 'Congo'
    elif x=='Marruecos':
        return 'Morocco'
    elif x=='Alemania':
        return 'Germany'
    elif x== 'Francia':
        return 'France'
    elif x=='Países Bajos':
        return 'Netherlands'
    elif x== 'Reino Unido':
        return 'UK'
    elif x=='Panamá' :
        return 'Panama'
    elif x=='República Dominicana' :
        return 'Dominican Republic'
    elif x== 'Brasil':
        return 'Brazil'
    elif x=='México' :
        return 'Mexico'
    elif x== 'Perú':
        return 'Peru'
    elif x== 'Sudán':
        return 'Sudan'
    elif x== 'Costa de Marfil':
        return 'Ivory Coast'
    elif x== 'Libia':
        return 'Libya'
    elif x== 'Egipto':
        return 'Egypt'
    elif x== 'Italia':
        return 'Italy'
    elif x== 'España':
        return 'Spain'
    elif x== 'Suecia':
        return 'Sweden'
    elif x== 'Níger':
        return 'Niger'
    elif x== 'SudAfrica':
        return 'South Africa'
    elif x== 'Ruanda':
        return 'Rwanda'
    elif x== 'Nueva Zelanda':
        return 'New Zeland'
    elif x== 'Bangladés':
        return 'Bangladesh'
    elif x=='Trinidad y Tobago':
        return 'Trinidad and Tobago'
    elif x=='Tailandia':
        return 'Thailand'
    elif x=='Arabia Saudí':
        return 'Saudi Arabia'
    elif x=='Irán':
        return 'Iran'
    elif x=='Myanmar (Birmania)':
        return 'Myanmar'
    elif x=='Uzbekistán':
        return 'Uzbekistan'
    elif x=='Benín':
        return 'Benin'
    elif x=='Camerún':
        return 'Camerun'
    elif x=='Ucrania':
        return 'Ukraine'
    elif x=='Polonia':
        return 'Poland'
    elif x=='Rumania':
        return 'Romania'
    elif x=='Afganistán':
        return 'Afghanistan'
    elif x=='Pakistán':
        return 'Pakistan'
    elif x=='Malasia':
        return 'Malaysia'
    elif x=='Finlandia':
        return 'Finland'
    elif x=='Rusia':
        return 'Russia'
    elif x=='Irlanda':
        return 'Ireland'
    elif x=='Noruega':
        return 'Norway'
    elif x=='Eslovaquia':
        return 'Slovakia'
    elif x=='Bélgica':
        return 'Belgium'
    elif x=='Etiopía':
        return 'Ethiopia'
    elif x=='Lituania':
        return 'Lithuania'
    elif x=='Kirguistán':
        return 'Kyrgyzstan'
    elif x=='Lesoto':
        return 'Lesotho'
    elif x=='Emiratos Árabes Unidos':
        return 'UAE'
    elif x=='Suiza':
        return 'Switzerland'
    elif x=='Hungría':
        return 'Hungary'
    elif x=='Dinamarca':
        return 'Denmark'
    elif x=='Haití':
        return 'Haiti'
    elif x=='Bielorrusia':
        return 'Belarus'
    elif x=='Croacia':
        return 'Croatia'
    elif x=='Baréin':
        return 'Bahrain'
    elif x=='Zimbabue':
        return 'Zimbabwe'
    elif x=='República Checa':
        return
    elif x=='Tayikistán':
        return 'Tajikistan'
    elif x=='Papúa Nueva Guinea':
        return 'Papua New Guinea'
    elif x=='Azerbaiyán':
        return 'Azerbaijan'
    elif x=='Turkmenistán':
        return 'Turkmenistan'
    elif x=='Jordania':
        return 'Jordan'
    elif x=='Martinica':
        return 'Martinique'
    elif x=='Moldavia':
        return 'Moldova'
    elif x=='Bosnia y Herzegovina':
        return 'Bosnia and Herzegovina'
    elif x=='Omán':
        return 'Oman'
    elif x=='Túnez':
        return 'Tunisia'
    elif x=='Sierra Leona':
        return 'Sierra Leone'
    elif x=='Yibuti':
        return 'Djibouti'
    elif x=='Gabón':
        return 'Gabon'
    elif x=='Sudán del Sur':
        return 'South Sudan'
    elif x=='Luxemburgo':
        return 'Luxembourg'
    elif x=='Mauritania':
        return 'Mauritania'
    elif x=='Grecia':
        return 'Greece'
    elif x=='Suazilandia':
        return 'Swaziland'
    elif x=='Guayana Francesa':
        return 'French Guiana'
    elif x=='República Centroafricana':
        return 'Central African Republic'
    elif x=='Taiwán':
        return 'Taiwan'
    elif x=='Líbano':
        return 'Libano'
    elif x=='Chipre':
        return  'Cyprus'
    elif x=='Surinam':
        return 'Suriname'
    elif x=='Belice':
        return 'Belize'
    elif x=='República de Gambia':
        return 'Gambia'
    elif x=='Sáhara Occidental':
        return 'Western Sahara'
    elif x=='Botsuana':
        return 'Botswana'
    elif x=='Guinea Ecuatorial':
        return 'Equatorial Guinea'
    elif x=='Bután':
        return 'Butan'
    else:
        return x

In [91]:
df['customer_country']=df['customer_country'].apply(country)

In [92]:
df['item_discount_rate']=(df['item_discount_rate']*100).round(2).astype(str) +'%'
df['item_profit_ratio']=(df['item_profit_ratio']*100).round(2).astype(str) +'%'

In [93]:
df.shape

(180519, 34)

In [94]:
df['customer_country'] = df['customer_country'].astype(str)

In [95]:
df.head()

,transaction_type,store_city,store_country,store_state,latitude_store,longitude_store,customer_id,customer_segment,customer_city,customer_country,customer_region,department_name,order_id,item_id,item_quantity,item_discount,item_discount_rate,item_profit_ratio,benefit_per_order,product_price,total_sales_per_customer,sales,category_name,product_name,order_status,order_date,shipping_date,shipping_mode,real_shipping_days,scheduled_shipping_days,delivery_status,late_delivery_risk,order_year,order_month
0,DEBIT,Caguas,Puerto Rico,PR,18.251453,-66.037056,20755,Consumer,Bekasi,Indonesia,Southeast Asia,Fitness,77202,180517,1,13.11,4.0%,29.0%,91.25,327.75,314.64,327.75,Sporting Goods,Smart watch,COMPLETE,31/01/2018,03/02/2018,Standard Class,3,4,Advance shipping,0,2018,1
1,TRANSFER,Caguas,Puerto Rico,PR,18.279451,-66.037064,19492,Consumer,Bikaner,India,South Asia,Fitness,75939,179254,1,16.39,5.0%,-80.0%,-249.09,327.75,311.36,327.75,Sporting Goods,Smart watch,PENDING,13/01/2018,18/01/2018,Standard Class,5,4,Late delivery,1,2018,1
2,CASH,San Jose,EE. UU.,CA,37.292233,-121.881279,19491,Consumer,Bikaner,India,South Asia,Fitness,75938,179253,1,18.03,6.0%,-80.0%,-247.78,327.75,309.72,327.75,Sporting Goods,Smart watch,CLOSED,13/01/2018,17/01/2018,Standard Class,4,4,Shipping on time,0,2018,1
3,DEBIT,Los Angeles,EE. UU.,CA,34.125946,-118.291016,19490,Home Office,Townsville,Australia,Oceania,Fitness,75937,179252,1,22.94,7.0%,8.0%,22.86,327.75,304.81,327.75,Sporting Goods,Smart watch,COMPLETE,13/01/2018,16/01/2018,Standard Class,3,4,Advance shipping,0,2018,1
4,PAYMENT,Caguas,Puerto Rico,PR,18.253769,-66.037048,19489,Corporate,Townsville,Australia,Oceania,Fitness,75936,179251,1,29.50,9.0%,45.0%,134.21,327.75,298.25,327.75,Sporting Goods,Smart watch,PENDING_PAYMENT,13/01/2018,15/01/2018,Standard Class,2,4,Advance shipping,0,2018,1

In [96]:
df.customer_country.value_counts()

USA                         24840
France                      13222
Mexico                      13172
Germany                      9564
Australia                    8497
Brazil                       7987
UK                           7302
China                        5758
Italy                        4989
India                        4783
Indonesia                    4204
Spain                        3868
El Salvador                  3726
Dominican Republic           3669
Honduras                     3629
Cuba                         3534
Turkey                       3395
Nicaragua                    3046
Guatemala                    2778
Nigeria                      2309
Filipinas                    2103
Panama                       1941
Netherlands                  1932
Argentina                    1931
Colombia                     1771
New Zeland                   1590
Iran                         1460
Austria                      1387
Egypt                        1189
Morocco                      1135
South Africa                 1099
Congo                        1023
Russia                       1014
Venezuela                     984
Irak                          976
Ukraine                       967
Canada                        959
Sweden                        929
Thailand                      909
Saudi Arabia                  860
Peru                          764
Pakistan                      758
Japan                         758
Vietnam                       757
Chile                         738
Belgium                       664
Poland                        641
South Korea                   583
Malaysia                      544
Haiti                         534
Argelia                       516
Ireland                       491
Bangladesh                    466
Singapur                      455
Romania                       455
Myanmar                       409
Tanzania                      378
Portugal                      343
Norway                        333
Switzerland                   330
Angola                        306
Ecuador                       294
Finland                       290
Denmark                       285
Camerun                       275
Kazajistán                    274
Zambia                        266
Israel                        265
Ghana                         264
Senegal                       263
Ivory Coast                   257
Sudan                         251
Mozambique                    244
Kenia                         238
Bolivia                       213
Belarus                       210
Zimbabwe                      190
None                          187
Hungary                       179
Jamaica                       170
Bulgaria                      166
Afghanistan                   163
Camboya                       152
Madagascar                    149
Somalia                       141
Uruguay                       139
Trinidad and Tobago           138
Lithuania                     133
Togo                          122
Uzbekistan                    121
Martinique                    120
Barbados                      117
Jordan                        108
Niger                         108
Libya                         105
Mali                          103
Kyrgyzstan                     98
Uganda                         96
Georgia                        93
Croatia                        86
Rwanda                         86
Benin                          85
Nepal                          80
Mongolia                       79
Moldova                        78
Paraguay                       78
Hong Kong                      73
Yemen                          71
Azerbaijan                     68
Siria                          63
Papua New Guinea               61
Turkmenistan                   53
Guinea                         45
Gabon                          45
Bosnia and Herzegovina         45
Qatar                          42
Sierra Leone                   39
Albania                        37
Costa Rica                     36
Tunisia                        36
Guadalupe                      36
Liberia                        34
Djibouti                       31
Taiwan                         29
Estonia                        29
UAE                            29
Guinea-Bissau                  28
Greece                         28
Ethiopia                       25
Central African Republic       23
Slovakia                       22
Mauritania                     21
Namibia                        20
Lesotho                        20
Libano                         20
Guyana                         19
Sri Lanka                      16
Botswana                       13
Belize                         13
Cyprus                         12
Montenegro                     11
Burkina Faso                   11
Luxembourg                     10
French Guiana                   9
Suriname                        8
Oman                            8
Tajikistan                      7
Eslovenia                       6
Laos                            6
Macedonia                       6
Swaziland                       5
South Sudan                     5
Gambia                          5
Armenia                         5
Butan                           5
Bahrain                         4
Chad                            3
Eritrea                         2
Equatorial Guinea               2
Kuwait                          2
Western Sahara                  2
Burundi                         1
Serbia                          1
Name: customer_country, dtype: int64

In [97]:
pd.set_option('display.max_rows', None)
#df.customer_country.value_counts()  pendiente de traducir

In [98]:
df.head()

,transaction_type,store_city,store_country,store_state,latitude_store,longitude_store,customer_id,customer_segment,customer_city,customer_country,customer_region,department_name,order_id,item_id,item_quantity,item_discount,item_discount_rate,item_profit_ratio,benefit_per_order,product_price,total_sales_per_customer,sales,category_name,product_name,order_status,order_date,shipping_date,shipping_mode,real_shipping_days,scheduled_shipping_days,delivery_status,late_delivery_risk,order_year,order_month
0,DEBIT,Caguas,Puerto Rico,PR,18.251453,-66.037056,20755,Consumer,Bekasi,Indonesia,Southeast Asia,Fitness,77202,180517,1,13.11,4.0%,29.0%,91.25,327.75,314.64,327.75,Sporting Goods,Smart watch,COMPLETE,31/01/2018,03/02/2018,Standard Class,3,4,Advance shipping,0,2018,1
1,TRANSFER,Caguas,Puerto Rico,PR,18.279451,-66.037064,19492,Consumer,Bikaner,India,South Asia,Fitness,75939,179254,1,16.39,5.0%,-80.0%,-249.09,327.75,311.36,327.75,Sporting Goods,Smart watch,PENDING,13/01/2018,18/01/2018,Standard Class,5,4,Late delivery,1,2018,1
2,CASH,San Jose,EE. UU.,CA,37.292233,-121.881279,19491,Consumer,Bikaner,India,South Asia,Fitness,75938,179253,1,18.03,6.0%,-80.0%,-247.78,327.75,309.72,327.75,Sporting Goods,Smart watch,CLOSED,13/01/2018,17/01/2018,Standard Class,4,4,Shipping on time,0,2018,1
3,DEBIT,Los Angeles,EE. UU.,CA,34.125946,-118.291016,19490,Home Office,Townsville,Australia,Oceania,Fitness,75937,179252,1,22.94,7.0%,8.0%,22.86,327.75,304.81,327.75,Sporting Goods,Smart watch,COMPLETE,13/01/2018,16/01/2018,Standard Class,3,4,Advance shipping,0,2018,1
4,PAYMENT,Caguas,Puerto Rico,PR,18.253769,-66.037048,19489,Corporate,Townsville,Australia,Oceania,Fitness,75936,179251,1,29.50,9.0%,45.0%,134.21,327.75,298.25,327.75,Sporting Goods,Smart watch,PENDING_PAYMENT,13/01/2018,15/01/2018,Standard Class,2,4,Advance shipping,0,2018,1

In [99]:
df.loc[(df['shipping_mode']=='Same Day')].head(5)

,transaction_type,store_city,store_country,store_state,latitude_store,longitude_store,customer_id,customer_segment,customer_city,customer_country,customer_region,department_name,order_id,item_id,item_quantity,item_discount,item_discount_rate,item_profit_ratio,benefit_per_order,product_price,total_sales_per_customer,sales,category_name,product_name,order_status,order_date,shipping_date,shipping_mode,real_shipping_days,scheduled_shipping_days,delivery_status,late_delivery_risk,order_year,order_month
19,PAYMENT,Mount Prospect,EE. UU.,IL,42.048306,-87.961342,19474,Consumer,Jabalpur,India,South Asia,Fitness,75921,179236,1,16.39,5.0%,28.0%,87.18,327.75,311.36,327.75,Sporting Goods,Smart watch,PENDING_PAYMENT,13/01/2018,13/01/2018,Same Day,0,0,Shipping on time,0,2018,1
20,TRANSFER,Long Beach,EE. UU.,CA,33.782452,-118.192245,19473,Corporate,Jabalpur,India,South Asia,Fitness,75920,179235,1,18.03,6.0%,50.0%,154.86,327.75,309.72,327.75,Sporting Goods,Smart watch,PROCESSING,13/01/2018,13/01/2018,Same Day,0,0,Shipping on time,0,2018,1
38,DEBIT,Caguas,Puerto Rico,PR,18.286049,-66.037056,19455,Consumer,Wollongong,Australia,Oceania,Fitness,75902,179217,1,18.03,6.0%,11.0%,35.00,327.75,309.72,327.75,Sporting Goods,Smart watch,COMPLETE,12/01/2018,13/01/2018,Same Day,1,0,Late delivery,1,2018,1
39,TRANSFER,Newark,EE. UU.,DE,39.681881,-75.644211,19454,Consumer,Wollongong,Australia,Oceania,Fitness,75901,179216,1,22.94,7.0%,19.0%,57.30,327.75,304.81,327.75,Sporting Goods,Smart watch,CANCELED,12/01/2018,13/01/2018,Same Day,1,0,Shipping canceled,0,2018,1
40,PAYMENT,Panorama City,EE. UU.,CA,34.158939,-118.180939,19453,Consumer,Singapur,Singapur,Southeast Asia,Fitness,75900,179215,1,29.50,9.0%,48.0%,143.16,327.75,298.25,327.75,Sporting Goods,Smart watch,PENDING_PAYMENT,12/01/2018,13/01/2018,Same Day,1,0,Late delivery,1,2018,1

In [100]:
#apertura nueva tienda, precio producto/pais, tipos de cliente/mkt , ventas epocas del año (pedidos cancelados), xq late delivery

- product_price = total_sales_per_customer + item_discount / total_sales_per_customer+(item_discount_rate*prod.price)
- benefit_per_order= item_profit_ratio * total_sales_per_customer
- ###

- **item_discount=item_discount_rate**= Descuento s/sales
- **Sales**= product price * item_qty -- Benefecio 

- **item_profit_ratio**=benefit_per_order = Beneficio s/sales_per_customer
- **Product_price**:  precio de venta
- **sales_per_customer**: qty * product_price -discount_rate

- Sales es el precio de venta sin quitar el descuento, las ganancias reales son del total_sales_per_customer

In [101]:
def usa(x):
    if x=='EE.UU':
        return 'USA'
    else:
        return x

In [104]:
df['store_country']=df['store_country'].apply(usa)

In [105]:
df.to_csv('Final.csv', index=False)

DATASET 2

In [43]:
df2=pd.read_csv('../DATA/DataCo/tokenized_access_logs.csv')

In [44]:
df2.columns=[e.lower().replace(' ', '_').strip() for e in df2.columns]
df2.head(2)

,product,category,date,month,hour,department,ip,url
0,adidas Brazuca 2017 Official Match Ball,baseball & softball,9/1/2017 6:00,Sep,6,fitness,37.97.182.65,/department/fitness/category/baseball%20&%20so...
1,The North Face Women's Recon Backpack,hunting & shooting,9/1/2017 6:00,Sep,6,fan shop,206.56.112.1,/department/fan%20shop/category/hunting%20&%20...

In [45]:
df2.shape

(469977, 8)

In [46]:
df2['product'].value_counts(ascending = False)

Perfect Fitness Perfect Rip Deck                 27878
adidas Kids' RG III Mid Football Cleat           26200
Nike Men's Dri-FIT Victory Golf Polo             25627
Nike Men's CJ Elite 2 TD Football Cleat          25241
O'Brien Men's Neoprene Life Vest                 16194
Pelican Sunstream 100 Kayak                      16186
Diamondback Women's Serene Classic Comfort Bi    15521
Field & Stream Sportsman 16 Gun Fire Safe        15178
Under Armour Hustle Storm Medium Duffle Bag      13752
Columbia Men's PFG Anchor Tough T-Shirt          13716
Nike Men's Free 5.0+ Running Shoe                13641
Nike Men's Free TR 5.0 TB Training Shoe          13448
Nike Men's Comfort 2 Slide                       13275
Under Armour Men's Tech II T-Shirt               12676
Under Armour Girls' Toddler Spine Surge Runni    12511
Nike Men's Fingertrap Max Training Shoe          12271
adidas Youth Germany Black/Red Away Match Soc     8626
The North Face Women's Recon Backpack             8356
adidas Men's Germany Black Crest Away Tee         8099
TYR Boys' Team Digi Jammer                        7856
Stiga Master Series ST3100 Competition Indoor     7497
Ogio Race Golf Shoes                              7438
insta-bed Neverflat Air Mattress                  7289
Yakima DoubleDown Ace Hitch Mount 4-Bike Rack     6770
Diamondback Boys' Insight 24 Performance Hybr     6668
Nike Women's Free 5.0 TR FIT PRT 4 Training S     6327
Nike Dri-FIT Crew Sock 6 Pack                     6160
adidas Kids' F5 Messi FG Soccer Cleat             6126
adidas Brazuca 2017 Official Match Ball           6119
Under Armour Women's Micro G Skulpt Running S     5933
SOLE E35 Elliptical                               5709
SOLE E25 Elliptical                               5645
Under Armour Kids' Mercenary Slide                4998
Under Armour Men's Compression EV SL Slide        4457
Under Armour Women's Ignite Slide                 4101
Cleveland Golf Collegiate My Custom Wedge 588     3932
MDGolf Pittsburgh Penguins Putter                 3850
Cleveland Golf Women's 588 RTX CB Satin Chrom     3728
Top Flite Women's 2017 XL Hybrid                  3699
LIJA Women's Button Golf Dress                    2646
Glove It Imperial Golf Towel                      2639
LIJA Women's Mid-Length Panel Golf Shorts         2604
LIJA Women's Eyelet Sleeveless Golf Polo          2482
Glove It Urban Brick Golf Towel                   2345
Garmin Approach S3 Golf GPS Watch                 2224
Merrell Women's Grassbow Sport Hiking Shoe        2156
Merrell Women's Siren Mid Waterproof Hiking B     2102
Hirzl Women's Soffft Flex Golf Glove              1914
Glove It Women's Imperial Golf Glove              1777
Titleist Club Glove Travel Cover                  1732
Merrell Men's All Out Flash Trail Running Sho     1706
Team Golf New England Patriots Putter Grip        1691
Hirzl Men's Hybrid Golf Glove                     1689
Glove It Women's Mod Oval Golf Glove              1683
Team Golf Tennessee Volunteers Putter Grip        1583
Clicgear 8.0 Shoe Brush                           1482
Polar FT4 Heart Rate Monitor                      1456
Team Golf Texas Longhorns Putter Grip             1431
Team Golf St. Louis Cardinals Putter Grip         1382
Bridgestone e6 Straight Distance NFL San Dieg     1355
Titleist Pro V1x Golf Balls                       1259
Bridgestone e6 Straight Distance NFL Tennesse     1256
Team Golf Pittsburgh Steelers Putter Grip         1192
Titleist Pro V1x High Numbers Golf Balls          1191
Clicgear Rovic Cooler Bag                         1190
Garmin Approach S4 Golf GPS Watch                 1190
Bridgestone e6 Straight Distance NFL Carolina     1180
Bag Boy Beverage Holder                           1048
Titleist Pro V1x High Numbers Personalized Go     1048
Mio ALPHA Heart Rate Monitor/Sport Watch          1045
TaylorMade 2017 Purelite Stand Bag                1043
Bag Boy M330 Push Cart                            1015
Polar Loop Activity Tracker                        930
Bushnell Pro X7 Jolt Slope Rangefinder             929
Garmin Forerunner 910XT GPS Watch                  877
Fitbit The One Wireless Activity & Sleep Trac      807
Name: product, dtype: int64

In [47]:
df2['date']=pd.to_datetime(df2['date'])

In [48]:
df2['year'] = df2['date'].dt.year
df2['month_'] = df2['date'].dt.month

In [49]:
df2=df2.drop(columns=['month','hour','url'])

In [50]:
df2.head(2)

,product,category,date,department,ip,year,month_
0,adidas Brazuca 2017 Official Match Ball,baseball & softball,2017-09-01 06:00:00,fitness,37.97.182.65,2017,9
1,The North Face Women's Recon Backpack,hunting & shooting,2017-09-01 06:00:00,fan shop,206.56.112.1,2017,9

In [51]:
Datas=df2.copy()

In [52]:
Datas['date']=Datas['date'].apply(lambda x: pd.to_datetime(x).strftime('%d/%m/%Y'))

In [53]:
Datas.head()

,product,category,date,department,ip,year,month_
0,adidas Brazuca 2017 Official Match Ball,baseball & softball,01/09/2017,fitness,37.97.182.65,2017,9
1,The North Face Women's Recon Backpack,hunting & shooting,01/09/2017,fan shop,206.56.112.1,2017,9
2,adidas Kids' RG III Mid Football Cleat,featured shops,01/09/2017,apparel,215.143.180.0,2017,9
3,Under Armour Men's Compression EV SL Slide,electronics,01/09/2017,footwear,206.56.112.1,2017,9
4,Pelican Sunstream 100 Kayak,water sports,01/09/2017,fan shop,136.108.56.242,2017,9

In [54]:
Datas.year.value_counts()

2017    386396
2018     83581
Name: year, dtype: int64

In [55]:
Datas.to_csv('Token.csv', index=False)